.book_details_container {
  min-height: 76vh;
  padding-top: 120px;
}

.book_details_header {
  font-size: 100px;
  font-weight: bold;
}

.book_details_image img {
  min-width: 30rem;
  max-height: 40rem;
  border-style: solid;
  border-color: grey;
}

.book_details_image {
  padding-right: 18rem;
  padding-left: 3rem;
}

.book_details_body {
  display: flex;
  flex-direction: row;
}

.section_header {
  font-size: 2.5rem;
  font-weight: 600;
}

.book_details_content .book_info {
  font-size: 2rem;
  text-align: justify;
}
