.above_line {
  padding-top: 1.5rem;
}

.footer {
  background-color: #874b47;
  color: white;
  margin-top: auto;
  height: 10vh;
  /* places footer at the bottom of the screen*/
}

hr {
  color: white;
  width: 100%;
}
