*{
    color:#874b47;
}


.wrapper {
    font-size: 60px;

    background-image: url("../images/img12.jpg"); 
    background-size: cover;
    background-position: center center;


    height: 45vh;
    
    /*  
     background-color: #8aa29e;
    */
}





.search {
    border-radius: 500px;
    border: 1px solid grey;
    padding: 5px 10px;
    background-color: rgb(225, 219, 219);
    width:30rem;
    height: 3rem;
}

.home_container{
    color:#874b47;
    
}
.home_container .featured{
    text-align: center;
    font-size: 3rem;
    /*gap:1500em;*/
    font-weight: bold;
    color: #874b47;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
/*
Carousel{
    margin-right: 500px;
}*/

.card{
    padding-right: 3rem
    
}
.card h2{

    
    color: #874b47;
}

.featured h2{
    font-family:comic sans-serif;

}